{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ end }}

{{ .Content }}
<h1> پست‌های بلاگ </h1>
<ul>
  {{ range (where .Data.Pages "Section" "==" "post") }}
  <li>
    <span class="date"> {{ .Params.persianDate }} </span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>

<h1> چالش‌ها </h1>
<ul>
    <li>
        <a href="/p2p"> اسفند: پیام‌رسان peer-to-peer </a>
    </li>
</ul>

<h1> معرفی کتاب‌هایی که دوست دارم </h1>
<ul>
  {{ range (where .Data.Pages "Section" "==" "book") }}
  <li>
    <span class="date"> {{ .Params.persianDate }} </span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>


<h1> اشعار </h1>
<ul>
  {{ range (where .Data.Pages "Section" "==" "poem") }}
  <li>
    <span class="date"> {{ .Params.persianDate }} </span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>


<h1> روزنوشت‌ها </h1>
<ul>
  {{ range (where .Data.Pages "Section" "==" "rooznevesht") }}
  <li>
    <span class="date"> {{ .Params.persianDate }} </span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>

<h1> نوشته‌های پراکنده </h1>
<ul>
  {{ range (where .Data.Pages "Section" "==" "random") }}
  <li>
    <span class="date"> {{ .Params.persianDate }} </span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>


{{ partial "footer.html" . }}

<div class="emblems">
    <img src="img/emblems/meditation.png" height=50 width=64>
    <img src="img/emblems/bujo.webp" height=40 width=150>
    <img src="img/emblems/hacker.png" height=50 width=50>
    <img src="img/emblems/vim.png" height=50 width=50>
    <img src="img/emblems/ibmm.jpg" height=50 width=100>
    <img src="img/emblems/duckduckgo.png" height=50 width=60>
    <img src="img/emblems/reddit.png" height=50 width=50>
    <a href="https://www.persianpuzzles.com/"><img src="img/emblems/persianpuzzle.jpg" height=50 width=50></a>
    <img src="img/emblems/hitch.png" height=60 width=50>
</div>

