{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ end }}

{{ .Content }}

<h1> پست‌های بلاگ </h1>
<ul>
  {{ range (where .Data.Pages "Section" "==" "post") }}
  <li>
    <span class="date"> {{ .Params.persianDate }} </span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>

<h1> چالش‌ها </h1>
<ul>
    <li>
        <a href="/p2p"> اسفند: پیام‌رسان peer-to-peer </a>
    </li>
</ul>

<h1> معرفی کتاب‌هایی که دوست دارم </h1>
<ul>
  {{ range (where .Data.Pages "Section" "==" "book") }}
  <li>
    <span class="date"> {{ .Params.persianDate }} </span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>


<h1> اشعار </h1>
<ul>
  {{ range (where .Data.Pages "Section" "==" "poem") }}
  <li>
    <span class="date"> {{ .Params.persianDate }} </span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>


<h1> روزنوشت‌ها </h1>
<ul>
  {{ range (where .Data.Pages "Section" "==" "rooznevesht") }}
  <li>
    <span class="date"> {{ .Params.persianDate }} </span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>

<h1> نوشته‌های پراکنده </h1>
<ul>
  {{ range (where .Data.Pages "Section" "==" "random") }}
  <li>
    <span class="date"> {{ .Params.persianDate }} </span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>


{{ partial "footer.html" . }}
